/* ----------------------- Section NEWSLETTER --------------------- */
.container {
    max-width: 400px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 15px;
}

.newsletter-subscription {
    margin-top: 3em;
  }
  
  .newsletter {
    height: 25em;
    background: linear-gradient(
        rgba(0, 0, 0, 0.671), 
        rgba(0, 0, 0, 0.671)
    ),url(img/newsletter.jpg);
    background-size: cover; 
    background-position: center;
    display: grid;
    align-content: center;
    justify-content: center;
    row-gap: 2em;
    padding: 1em;
  }
  
  .newsletter p {
    color: var(--color-light);
    text-align: center;
  }
  
  .newsletter small {
    color: var(--color-light);
    text-align: center;
  }
  
  .newsletter-email {
    background-color: transparent;
    justify-self: center;
    height: 2em;
    width: 50%;
    border: 1px solid var(--color-light);
    border-radius: 1em;
    color: var(--color-light);
    text-align: center;
  }
  
  .newsletter-email::placeholder{
    color: var(--color-light);
    text-align: center;
  }
  
  .newsletter-button {
    height: 2em;
    width: 6em;
    background-color: var(--color-primary);
    color: var(--color-light);
    justify-self: center;
  }
  /* ---------------------------------------------------------------- */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .subheading {
        font-size: 2em;
    }
    
}
    
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

.container {
    max-width: 700px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 20px;
}

.subheading {
    font-size: 2em;
}

.newsletter-subscription {
    margin-top: 3em;
}

.newsletter-email {
    height: 2.5em;
    width: 30%;
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

.container {
    max-width: 1000px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.subheading {
    font-size: 2em;
}

.newsletter {
    padding: 1em 10em;
}

.newsletter-subscription {
    margin-top: 3em;
}

.newsletter-email {
    height: 2.5em;
    width: 30%;
}

.newsletter-button {
    height: 2em;
    width: 6em;
}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

.container {
    max-width: 1600px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.subheading {
    font-size: 2em;
}

.newsletter-subscription {
    margin-top: 3em;
}

.newsletter {
    padding: 1em 20em;
}

.newsletter p {
    font-size: 1.2em;
}

.newsletter-email {
    height: 2.5em;
    width: 30%;
}

.newsletter-button {
    height: 3em;
    width: 10em;
}

}

/* For full HD display & above */
@media only screen and (min-width: 1920px) {

body a,p{
    font-size: 1.5em;
}

.container {
    max-width: 2200px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.subheading {
    font-size: 2em;
}

.newsletter-subscription {
    margin-top: 3em;
}

.newsletter {
    padding: 1em 30em;
    margin-bottom: 16em;
}

.newsletter p {
    font-size: 1.4em;
}

.newsletter small {
    color: var(--color-light);
}

.newsletter-email {
    height: 2.5em;
    width: 30%;
}

.newsletter-button {
    height: 3em;
    width: 10em;
}

}