/* ---------------------------- GENERAL --------------------------- */
.container {
  max-width: 400px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 15px;
}
/* ---------------------------------------------------------------- */



/* ---------------------------- SIDEBAR --------------------------- */
.side-bar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0.575), 
    rgba(0, 0, 0, 0.171)
  ),url(img/sidebar-background.jpg);
  background-size: cover; 
  background-position: center;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
}

.sidebar-logo {
  font-family: var(--cursive-font);
  font-size: 4rem;
}

.side-bar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--color-light);
  display: block;
  transition: 0.3s;
}

.side-bar a:hover {
  color: #f1f1f1;
}

.separator {
  border-top: 1px solid var(--color-primary);
  width: 80%;
  margin: 0 auto;
}

.your-products {
  display: flex;
  justify-content: space-evenly;
  width: 85%;
}
/* ---------------------------------------------------------------- */



/* ------------------------- Section HEADER ----------------------- */

/* FOR LAPTOPS & LARGER DISPLAYS */
.page-header-webview {
  display: none;
}

 .page-header-webview a {
  color: var(--color-primary);
}

.header-webview-nav a{
  position: relative;
}

.header-webview-nav a:after {    
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 0.125em;
  width: 0em;
  border-radius: 0.7em;
  position: absolute;
  background: var(--color-primary);
  transition: width 0.2s ease 0s, left 0.2s ease 0s;
}

.header-webview-nav a:hover:after { 
  width: 100%; 
}

.header-webview-nav a{
  font-weight: bold;
}

/* FOR MOBILE */
.page-header {
  justify-content: space-between;
  height: 3em;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  height: 2em;
  width: 1.7em;
  transition: all .2s ease-in-out;
}

.logo-container img:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.logo {
  font-family: var(--cursive-font);
  font-size: 1.2rem;
}

.menu a {
  font-size: 1em;
}

.menu-bar i {
  font-size: 1.5rem;
}

.user-image {
  height: 1.5em;
  width: 1.6em;
  border-radius: 1em;
}

.fa-shopping-cart {
  font-size: 1.5em;
  margin-left: 1em;
}

.cart-total {
  height: 1.5em;
  width: 1.5em;
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  color: #fff;
  position: relative;
}

.menu-close {
  margin-right: 1em;
}
/* ---------------------------------------------------------------- */



/* -------------------------- Section HERO ------------------------ */
.heading {
  height: 40vh;
  background: linear-gradient(
    rgba(0, 0, 0, 0.171), 
    rgba(0, 0, 0, 0.171)
  ),url(img/hero.jpg);
  background-size: cover; 
  background-position: center;
  color: var(--color-light);
  text-align: center;
  padding: 8rem 0;
}

.heading h1 {
font-family: var(--cursive-font);
font-weight: lighter;
}
/* ---------------------------------------------------------------- */



/* ------------------------ Section FILTERS ----------------------- */
.product-filters{
  display: flex;
  justify-content: flex-start;
}

.filter-options {
  display: none;
}

.button-filters {
  cursor: pointer;
}

.filter-plant-types input,
.filter-pot-requirement input,
.filter-plant-size input
{
  display: none;
}

.filter-plant-types li,
.filter-pot-requirement li,
.filter-plant-size li
{
  display: inline-block;
}

.filter-plant-types label,
.filter-pot-requirement label,
.filter-plant-size label
{
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  padding: 2px 5px;
  color: var(--color-primary);
  margin: 0.1em;  
}

.filter-plant-types input:checked + label,
.filter-pot-requirement input:checked + label,
.filter-plant-size input:checked + label
{
  background-color: var(--color-primary);
  color: var(--color-light);
}

.fa-sliders-h {
  margin-left: 0.5em;
}

.fa-star,
.far fa-star,
.fa-star-half-alt
 {
  color: var(--color-warning);
}
/* ---------------------------------------------------------------- */



/* ------------------------ Section SEARCH ----------------------- */
.product-search {
  margin-top: 1em;
}

.search-box {
  display: flex;
  gap: 0.5em;
}

.search-box input {
  border: 1px solid rgb(173, 173, 173);
  border-radius: 0.5em;
  width: 60%;
  padding-left: 1em;
}
/* ---------------------------------------------------------------- */



/* ------------------------ Section PRODUCTS ---------------------- */
.section-product-and-filters {
  margin-top: 2em;
}

.results .grid {
  display: grid;
  gap: 0em;
  grid-template-columns: 1fr;
  row-gap: 1em;
}

.results fieldset {
  margin-top: 1rem;
}

.products-list {
  margin-top: 1em;
}

.products-list article {
  margin: 0.5em 0;
}

.product {
  border-bottom: 1px solid rgb(230, 230, 230);
}

.product article {
  margin: 0.4em 0;
}

.product img {
  height: 20rem;
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
}

.product-title-icons {
  justify-content: space-between;
}

.product-title-icons button {
  padding: 0.5em;
}

.product-title-icons i {
  padding: 0 0.2em;
}

.product-title-newflash img{
  height: 1.5em;
  width: 2em;
  padding-left: 0.5em;
  animation: blinker 1s linear infinite;
}

.product-price-ratings {
  justify-content: space-between;
}

.product-ratings {
  gap: 0.4em;
}

.product-discount-category {
  display: flex;
  justify-content: space-between;
}

.button-product-details {
  color: var(--color-primary);
  font-weight: bold;
}

.button-buy {
  cursor: pointer;
  display: inline-block;
  background-color:  var(--color-danger);
  border: 1px solid var(--color-danger);
  border-radius: 4px;
  padding: 2px 5px;
  color: var(--color-light);
}

del {
  color: var(--color-danger);
}

ins {
  color: var(--color-primary);
}

.fa-shopping-cart {
  color: var(--color-primary);
  transition: all .2s ease-in-out;
}

.fa-heart {
  color: var(--color-danger);
  transition: all .2s ease-in-out;
}

.fa-shopping-cart:hover,
.fa-heart:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.pot-fields input,
.size-fields input
 {
  display: none;
}

.pot-fields li,
.size-fields li
 {
  display: inline-block;
}

.pot-fields label,
.size-fields label
{
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border: 1px solid var(--color-primary);
  border-radius: 4px;
  padding: 2px 5px;
  color: var(--color-primary);
  margin: 0.1em;  
}

.pot-fields input:checked + label,
.size-fields input:checked + label
{
  background-color: var(--color-primary);
  color: var(--color-light);
}
/* ---------------------------------------------------------------- */



/* ----------------------- Section PAGINATION --------------------- */
.pagination {
  margin-top: 1em;
}

.pages {
  justify-content: center;
}

.pages > li {
  margin: calc(var(--pad-and-gap) / 2);
  background-color: var(--color-secondary);
  padding: 0.4rem 0.8rem;
  border-radius: 0.3rem;
  margin-top: 1rem;
}

.pages > li a {
  color: var(--color-light);
}

.buttons-prev-next {
  display: flex;
  justify-content: space-between;
}

.buttons-prev-next a {
  background-color: transparent;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  transition: all .2s ease-in-out;
  border-radius: 1rem;
  height: 1.8rem;
  width: 6rem;
  margin-top: 1rem;
}

.buttons-prev-next a:hover {
  transform: scale(1.1);
}
/* ---------------------------------------------------------------- */







/* ------------------------ Section FOOTER ------------------------ */
.page-footer {
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: 1em 0;
  margin-top: 1rem;
}

.page-footer a {
  color: var(--color-light);
}

.page-footer p {
  margin-top: 1rem;
}

.social,
.legal {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.social > li {
  padding: 0 0.5rem;
}

.legal > li {
  padding: 0 0.1rem;
}
/* ---------------------------------------------------------------- */



/* ---------------------- Section TOP-BUTTON ---------------------- */
.section-top-button article {
  height: 3.5rem; 
  width: 3.5rem; 
  background-color: rgb(160, 160, 160); 
  color: var(--color-light); 
  border-radius: 0.5rem; 
  position: fixed; 
  bottom: 2rem; 
  right: 2rem;
  cursor: pointer;
  box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2), 0 0.6rem 2rem 0 rgba(0, 0, 0, 0.19);
}

.section-top-button p {
  font-size: 1.5rem
}
/* ---------------------------------------------------------------- */



/* --------------------------- Keyframes -------------------------- */
@keyframes Gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

@keyframes carouselSlider {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-150px * 7))}
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
/* ---------------------------------------------------------------- */