.cart-items {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 4em;
}

.cart-item {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: 1fr;
    gap: 2em;
    border: 1px solid rgb(177, 177, 177);
    padding: 1em;
    border-radius: 2em;
    margin-top: 1em;
}

/* ---- */
.delete-container {
    position: absolute;
    margin-bottom: 10em;
    margin-left: 19em;
}

.cart-product-image {
    text-align: center;
}

.cart-product-image img {
    height: 12em;
    width: 12em;
    border-radius: 6em;
}

.cart-item-qty {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5em;
}

.cart-item-qty a,
.delete-container p
{
    font-size: 1.5em;
}

.cart-qty input {
    height: 2em;
    width: 2em; 
    border: 1px solid rgb(196, 196, 196);
}

.delete-container {
    text-align: end;
}

.section-cart-total {
    max-width: 1200px;
    margin: 0 auto;
    /* text-align: end; */
    text-align: center;
}

.section-cart-checkout {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    /* justify-content: flex-end; */
    /*  */
    justify-content: center;
}

.btn-checkout {
    height: 2.5em;
    width: 12em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    color: #fff;
    border: 1px solid black;
    border-radius: 0.5em;
}

/* MEDIA QUERIES */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .cart-item {
        grid-template-columns: 1fr;
    }
    
    .delete-container {
        position: absolute;
        margin-bottom: 10em;
        margin-left: 19em;
    }
    
    .section-cart-total {
        text-align: center;
    }
    
    .section-cart-checkout {
        justify-content: center;
    }
    
}
    
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

.delete-container {
    position: absolute;
    margin-bottom: 10em;
    margin-left: 43em;
}

.section-cart-total {
    text-align: center;
}

.section-cart-checkout {
    justify-content: center;
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

.cart-item {
    grid-template-columns: repeat(4, 1fr);
}

.section-cart-total {
    text-align: end;
}

.section-cart-checkout {
    justify-content: flex-end;
}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

/* ------------------------- Section GENERAL ---------------------- */
.container {
    max-width: 1600px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.cart-item {
    grid-template-columns: repeat(4, 1fr);
}

.section-cart-total {
    text-align: end;
}

.section-cart-checkout {
    justify-content: flex-end;
}

}

/* For full HD display & above */
@media only screen and (min-width: 1920px) {

}