.contact-us-hero {
    height: 40vh;
    background: linear-gradient(
      rgba(0, 0, 0, 0.171), 
      rgba(0, 0, 0, 0.171)
    ),url(img/contact-hero.jpg);
    background-size: cover; 
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact-us-hero h1 {
    font-family: var(--cursive-font);
    color: var(--color-light);
    font-weight: lighter;
}

.contact-us {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 1fr;
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 4em;
}

.contact-location {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-location a {
    text-align: center;
}

.contact-location img{
    width: 60%;
    border-radius: 2em;
}   

/* .contact-details h1,
.contact-touch h1
{
    font-size: 2em;
} */

.contact-details {
    text-align: center;
}

.contact-details h1,
.contact-touch h1
{
    font-size: 2em;
    text-align: center;
}


.contact-touch {
    margin-top: 2em;
    /*  */
    text-align: center;
}
  
.contact-touch .form-control {
    margin: 30px 0;
}

.contact-touch input[type='text'],
.contact-touch input[type='email']
{
    border: 0;
    border-bottom: 1px solid #b4becb;
    /* width: 50%; */
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.contact-touch textarea[type='text'] {
    /* width: 50%; */
    width: 100%;
    padding: 3px;
    font-size: 16px;
}


.contact-touch input:focus {
    outline: none;
}

.btn-contact {
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 1em;
    height: 2em;
    width: 7em;
}

/* MEDIA QUERIES */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

.contact-us {
    grid-template-columns: 1fr;
}

.contact-details {
    text-align: center;
}

.contact-details h1,
.contact-touch h1
{
    font-size: 2em;
    text-align: center;
}

.contact-touch {
    text-align: center;
}

.contact-touch input[type='text'],
.contact-touch input[type='email'],
.contact-touch textarea[type='text']
{
    width: 100%;
}
    
}
    
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

.container {
    max-width: 700px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 20px;
}

.contact-us-hero h1 {
    font-size: 2em;
}

.contact-us {
    grid-template-columns: 1fr;
}

.contact-details {
    text-align: center;
}

.contact-details h1,
.contact-touch h1
{
    font-size: 2em;
    text-align: center;
}

.contact-touch {
    text-align: center;
}

.contact-touch input[type='text'],
.contact-touch input[type='email'],
.contact-touch textarea[type='text']
{
    width: 60%;
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

.container {
    max-width: 1000px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.contact-us-hero h1 {
    font-size: 3em;
}

.contact-us {
    grid-template-columns: 1fr;
}

.contact-details {
    text-align: center;
}

.contact-details h1,
.contact-touch h1
{
    font-size: 2em;
    text-align: center;
}

.contact-touch {
    text-align: center;
}

.contact-touch input[type='text'],
.contact-touch input[type='email'],
.contact-touch textarea[type='text']
{
    width: 70%;
}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

.container {
    max-width: 1600px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.contact-us-hero h1 {
    font-size: 4em;
}

.contact-us {
    grid-template-columns: repeat(2, 1fr);
}

.contact-details h1,
.contact-touch h1
{
    font-size: 2em;
    text-align: start;
}

.contact-details,
.contact-touch
{
    text-align: start;
}

.contact-touch input[type='text'],
.contact-touch input[type='email'],
.contact-touch textarea[type='text']
{
    width: 50%;
}

}

/* For full HD display & above */
@media only screen and (min-width: 1920px) {

body a,p{
    font-size: 1.5em;
}

.container {
    max-width: 2200px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.contact-us-hero h1 {
    font-size: 4em;
}

.contact-us {
    grid-template-columns: repeat(2, 1fr);
}

.contact-details h1,
.contact-touch h1
{
    font-size: 2.5em;
    text-align: start;
}

.contact-details,
.contact-touch
{
    text-align: start;
}

.contact-location img{
    width: 80%;
} 

.contact-touch input[type='text'],
.contact-touch input[type='email'],
.contact-touch textarea[type='text']
{
    width: 80%;
}

}