.sign-up-page {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
}

.sign-up-image{
    background: linear-gradient(
    rgba(0, 0, 0, 0.575), 
    rgba(0, 0, 0, 0.575)
  ),url(img/3.jpg);
  background-size: cover; 
  background-position: center;
  color: #fff;
  padding: 3em;
  text-align: center;
}

.sign-up-image h1 {
    font-size: 2em;
}

.sign-up-image p {
    font-size: 1em;
}

.sign-up-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-form-container {
    margin: 1em 0em;
    border: 1px solid black;
    border-radius: 2em;
}

.signup-form-container {
    position: relative;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
  }
  
  .signup-form-container .form-control {
    margin: 30px 0;
  }

  
  .signup-form-container input[type='text'],
  .signup-form-container input[type='email'],
  .signup-form-container input[type='password']
  {
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
  }
  
  .signup-form-container input:focus {
    outline: none;
  }
  
  .register-options {
      display: flex;
      align-items: center;
      justify-content: start;
  }

  .logo-google {
      height: 2em;
      width: 2em;
  }

  .logo-facebook {
      height: 3em;
      width: 3em;
      margin-left: 0.5em;
  }

  .signup-form-container p {
      margin-top: 1em;
  }

  .btn-register {
    height: 2em;
    width: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    color: #fff;
    border: 1px solid black;
    border-radius: 0.5em;
}

/* MEDIA QUERIES */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    /* ------------------------- Section GENERAL ---------------------- */
    .subheading {
        font-size: 2em;
    }
    
    .sign-up-image{
        padding: 6em;
        text-align: center;
    }
    
    .signup-form-container {
        height: 35em;
        width: 40em;
        padding: 40px;
    }
    
}
    
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

.container {
    max-width: 700px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 20px;
}

.subheading {
    font-size: 2em;
}

.sign-up-image{
    padding: 16em;
    text-align: center;
}

.signup-form-container {
    height: 35em;
    width: 40em;
    padding: 40px;
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

/* ------------------------- Section GENERAL ---------------------- */
.container {
    max-width: 1000px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.subheading {
    font-size: 2em;
}

.sign-up-page {
    grid-template-columns: repeat(2, 1fr);
}

.sign-up-image{
    padding: 6em;
    text-align: start;
}

.signup-form-container {
    height: 35em;
    width: 25em;
    padding: 40px;
}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

/* ------------------------- Section GENERAL ---------------------- */
.container {
    max-width: 1600px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.subheading {
    font-size: 2em;
}

.sign-up-page {
    grid-template-columns: repeat(2, 1fr);
}

.sign-up-image{
    padding: 6em;
    text-align: start;
}

.signup-form-container {
    height: 35em;
    width: 40em;
    padding: 40px;
}

}

/* For full HD display & above */
@media only screen and (min-width: 1920px) {

/* ------------------------- Section GENERAL ---------------------- */
body a,p{
    font-size: 1.5em;
}

.container {
    max-width: 2200px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.subheading {
    font-size: 2em;
}

.sign-up-page {
    grid-template-columns: repeat(2, 1fr);
}

.sign-up-image{
    padding: 6em;
    text-align: start;
}

.signup-form-container {
    height: 55em;
    width: 70em;
    padding: 40px;
}

.sign-up-image h1 {
    font-size: 4em;
}

.sign-up-image p {
    font-size: 2em;
}

.signup-form-container input[type='text'],
.signup-form-container input[type='email'],
.signup-form-container input[type='password']
{
    font-size: 1.5em;
}

.btn-register {
    font-size: 1.5em;
}

}