/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .subheading {
        font-size: 2em;
    }
    
    .trending-products {
        width: calc(250px * 16);
    }
    
    .trending-products img{
        height: 12em;
        width: 12em;
    }
    
}
    
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

.container {
    max-width: 700px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 20px;
}

.subheading {
    font-size: 2em;
}

.trending-products {
    width: calc(250px * 16);
}

.trending-products img{
    height: 12em;
    width: 12em;
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

.container {
    max-width: 1000px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.subheading {
    font-size: 2em;
}

.trending-products {
    width: calc(250px * 16);
}

.trending-products img{
    height: 15em;
    width: 15em;
}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

.container {
    max-width: 1600px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.subheading {
    font-size: 2em;
}

.trending-products {
    width: calc(250px * 16);
}

.trending-products img{
    height: 20em;
    width: 20em;
}

.trending {
    margin-top: 2em;
}

}

/* For full HD display & above */
@media only screen and (min-width: 1920px) {

body a,p{
    font-size: 1.5em;
}

.container {
    max-width: 2200px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.subheading {
    font-size: 2em;
}

.trending-products {
    width: calc(400px * 16);
}

.trending-products img{
    height: 25em;
    width: 25em;
}

}