


/* ----------------------- Section PAGINATION --------------------- */
.pagination {
    margin-top: 1em;
  }
  
  .pages {
    justify-content: center;
  }

  .pages > li {
    margin: calc(var(--pad-and-gap) / 2);
    background-color: var(--color-primary);
    color: #fff;
    padding: 0.4rem 0.8rem;
    border-radius: 0.3rem;
    margin-top: 1rem;
    cursor: pointer;
  }
  
  .pages > li a {
    color: var(--color-light);
  }
  
  .buttons-prev-next {
    display: flex;
    justify-content: space-between;
  }
  
  .buttons-prev-next a {
    background-color: transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
    transition: all .2s ease-in-out;
    border-radius: 1rem;
    height: 1.8rem;
    width: 6rem;
    margin-top: 1rem;
    cursor: pointer;
  }
  
  .buttons-prev-next a:hover {
    transform: scale(1.1);
  }
  /* ---------------------------------------------------------------- */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .subheading {
        font-size: 2em;
    }
    
    .pagination {
        margin-top: 1em;
    }
    
    .buttons-prev-next {
        justify-content: center;
    }
    
    .buttons-prev-next a {
        margin: 1em;
    }

}
    
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

.container {
    max-width: 700px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 20px;
}

.subheading {
    font-size: 2em;
}

.pagination {
    margin-top: 1em;
}

.buttons-prev-next {
    justify-content: center;
}

.buttons-prev-next a {
    margin: 1em;
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

.container {
    max-width: 1000px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.subheading {
    font-size: 2em;
}

.pagination {
    margin-top: 1em;
}

.buttons-prev-next {
    justify-content: center;
}

.buttons-prev-next a {
    margin: 1em;
}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

.container {
    max-width: 1600px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.subheading {
    font-size: 2em;
}

.pagination {
    margin-top: 1em;
}

.buttons-prev-next {
    justify-content: center;
}

.buttons-prev-next a {
    margin: 1em;
}

}

/* For full HD display & above */
@media only screen and (min-width: 1920px) {

body a,p{
    font-size: 1.5em;
}

.container {
    max-width: 2200px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.subheading {
    font-size: 2em;
}

.pagination {
    margin-top: 1em;
}

.buttons-prev-next {
    justify-content: center;
}

.buttons-prev-next a {
    margin: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 7em;
}

}