/* ------------------------ Section PRODUCTS ---------------------- */
.section-product-and-filters {
    margin-top: 2em;
  }
  
  .results .grid {
    display: grid;
    gap: 0em;
    grid-template-columns: 1fr;
    row-gap: 1em;
  }
  
  .results fieldset {
    margin-top: 1rem;
  }
  
  .products-list {
    margin-top: 1em;
  }
  
  .products-list article {
    margin: 0.5em 0;
  }
  
  .product {
    border-bottom: 1px solid rgb(230, 230, 230);
  }
  
  .product article {
    margin: 0.4em 0;
  }
  
  .product img {
    height: 20rem;
    width: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
  }
  
  .product-title-icons {
    justify-content: space-between;
  }
  
  .product-title-icons button {
    padding: 0.5em;
  }
  
  .product-title-icons i {
    padding: 0 0.2em;
  }
  
  .product-title-newflash img{
    height: 1.5em;
    width: 2em;
    padding-left: 0.5em;
    animation: blinker 1s linear infinite;
  }
  
  .product-price-ratings {
    justify-content: space-between;
  }
  
  .product-ratings {
    gap: 0.4em;
  }
  
  .product-discount-category {
    display: flex;
    justify-content: space-between;
  }
  
  .button-product-details {
    color: var(--color-primary);
    font-weight: bold;
  }
  
  .button-buy {
    cursor: pointer;
    display: inline-block;
    background-color:  var(--color-danger);
    border: 1px solid var(--color-danger);
    border-radius: 4px;
    padding: 2px 5px;
    color: var(--color-light);
  }
  
  del {
    color: var(--color-danger);
  }
  
  ins {
    color: var(--color-primary);
  }
  
  .fa-shopping-cart {
    color: var(--color-primary);
    transition: all .2s ease-in-out;
  }
  
  .fa-heart {
    color: var(--color-danger);
    transition: all .2s ease-in-out;
  }
  
  .fa-shopping-cart:hover,
  .fa-heart:hover{
    transform: scale(1.1);
    cursor: pointer;
  }
  
  .pot-fields input,
  .size-fields input
   {
    display: none;
  }
  
  .pot-fields li,
  .size-fields li
   {
    display: inline-block;
  }
  
  .pot-fields label,
  .size-fields label
  {
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    padding: 2px 5px;
    color: var(--color-primary);
    margin: 0.1em;  
  }
  
  .pot-fields input:checked + label,
  .size-fields input:checked + label
  {
    background-color: var(--color-primary);
    color: var(--color-light);
  }
  /* ---------------------------------------------------------------- */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .subheading {
        font-size: 2em;
    }
    
    .results .grid {
        display: grid;
        row-gap: 1em;
        grid-template-rows: repeat(2, 1fr);
    }
    
    .product-title-newflash img{
        height: 1.6em;
        width: 2.1em;
        padding-left: 0.5em;
        animation: blinker 1s linear infinite;
    }
    
    .product img {
        height: 15em;
    }
    
}
    
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

.container {
    max-width: 700px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 20px;
}

.subheading {
    font-size: 2em;
}

.section-product-and-filters {
    margin-top: 2em;
}

.results .grid {
    display: grid;
    row-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
}

.product img {
    height: 20em;
}

.product-title-newflash img{
    height: 1.6em;
    width: 2.1em;
    padding-left: 0.5em;
    animation: blinker 1s linear infinite;
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

.container {
    max-width: 1000px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.subheading {
    font-size: 2em;
}

.section-product-and-filters {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: flex-start;
    margin-top: 2em;
}

.results .grid {
    display: grid;
    row-gap: 1em;
    grid-template-columns: repeat(2, 1fr);
}

.product img {
    height: 22em;
}

.product-title-newflash img{
    height: 1.9em;
    width: 2.4em;
    padding-left: 0.5em;
    animation: blinker 1s linear infinite;
}

.products-and-search {
    display: flex;
    justify-content: space-between;
    padding: 0 2.5em;
}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

.container {
    max-width: 1600px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.subheading {
    font-size: 2em;
}

.section-product-and-filters {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: flex-start;
    margin-top: 4em;
}

.results .grid {
    display: grid;
    row-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
}

.product article {
    margin: 0.4em 0;
}

.product img {
    height: 26em;
}

.product-title-icons i {
    padding: 0 0.2em;
}

.product-title-newflash img{
    height: 1.9em;
    width: 2.4em;
    padding-left: 0.5em;
    animation: blinker 1s linear infinite;
}

.products-and-search {
    display: flex;
    justify-content: space-between;
    padding: 0 2.5em;
}

}

/* For full HD display & above */
@media only screen and (min-width: 1920px) {

body a,p{
    font-size: 1.5em;
}

.container {
    max-width: 2200px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.subheading {
    font-size: 2em;
}

.section-product-and-filters {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: flex-start;
    margin-top: 3em;
}

.results .grid {
    display: grid;
    row-gap: 1em;
    grid-template-columns: repeat(3, 1fr);
}

.product img {
    height: 40em;
}

.product-title-newflash img{
    height: 1.9em;
    width: 2.4em;
    padding-left: 0.5em;
    animation: blinker 1s linear infinite;
}

.products-and-search {
    display: flex;
    justify-content: space-between;
    padding: 0 2.5em;
}

}