/* -------------------------- Fonts Import ------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/* ---------------------------------------------------------------- */



/* ------------------------- Root Variables ----------------------- */
:root {
  --main-font: 'Lato', sans-serif;
  --cursive-font: 'Dancing Script', cursive;
  --color-primary: #123d12;
  --color-secondary: #3e7047;
  --color-light: #ffffff;
  --color-warning: #e2ab21;
  --color-danger: #660000;
  --pad-and-gap : 0.4em;
}
/* ---------------------------------------------------------------- */



/* --------------------------- Scroll Bar ------------------------- */

/* Scrollbar Width */
::-webkit-scrollbar {
  width: 13px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent; 
  border-radius: 10px;
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
  background:  var(--color-primary);
  border-radius: 10px;
}

/* On hovering at Scrollbar */
::-webkit-scrollbar-thumb:hover {
  background:  var(--color-primary);
}
/* ---------------------------------------------------------------- */