section {
  content-visibility: auto;
}

.landing-nav-hero {
  height: 100vh;
  background: linear-gradient(
    rgba(0, 0, 0, 0.562), 
    rgba(0, 0, 0, 0.562)
  ),url(../img/hero.jpg);
  background-size: cover; 
  background-position: center;
}

.landing-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-logo p {
  font-size: 1.5em;
  font-family: var(--cursive-font);
}

/* Navbar */
.landing-navbar {
    background-color: transparent;
    color: #fff;
    height: 8vh;
  }
  
  .landing-navbar ul {
    display: flex;
  }
  
  .landing-navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
  }
  
  .landing-navbar a:hover {
    border-bottom: 1px #fff solid;
  }
  
  .landing-navbar .flex {
    justify-content: space-between;
  }

  .landing-hero {
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
  }

  .btn-join-us {
    height: 2em;
    width: 7em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0.5em;
    margin-top: 1em;
  }

/* ------------------------ Section TRENDING ---------------------- */
.trending {
  overflow: hidden;
}

.trending-products {
  animation: carouselSlider 50s linear infinite;
  display: flex;
  width: calc(150px * 16);
}

.trending-products img{
  height: 10rem;
  width: 10rem;
  border-radius: 1rem;
  margin: 0 0.5rem;
}

.trending-product {
  display: block;
}
/* ---------------------------------------------------------------- */




  /* HIGHLIGHTS */

  .highlight {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    margin-top: 2em;
  }

  .highlights-grid {
    margin-top: 2em;
  }

  .highlights img {
    border-radius: 2em;
  }
  
  .highlights-image {
    display: flex;
    align-items: center;
  }

  .highlight-description {
    display: flex;
    align-items: center;
  }



  /* -------------------- Section CUSTOMER REVIEWS ------------------ */
.customer-reviews {
  margin-top: 2em;
}

.reviews {
  display: block;
  border: 1px solid var(--color-primary);
  border-radius: 2em;
  margin-top: 1em;
}

.reviews article {
  height: 10em;
  align-items: center;
  padding: 0 2em;
}

.reviews img {
  height: 3em;
  width: 3.1em;
  border-radius: 4em;
}

.reviews p {
  color: var(--color-primary);
}

.review-1,
.review-2,
.review-3 {
  display: flex;
  gap: 1em;
}

.separator-vertical {
  display: none;
  height: 8em;
  width: 0.1em;
  background-color: rgb(194, 194, 194);
  align-self: center;
}
/* ---------------------------------------------------------------- */



/* ----------------------- Section NEWSLETTER --------------------- */
.newsletter-subscription {
  margin-top: 3em;
}

.newsletter {
  height: 25em;
  background: linear-gradient(
      rgba(0, 0, 0, 0.671), 
      rgba(0, 0, 0, 0.671)
  ),url(../img/newsletter.jpg);
  background-size: cover; 
  background-position: center;
  display: grid;
  align-content: center;
  justify-content: center;
  row-gap: 2em;
  padding: 1em;
}

.newsletter p {
  color: var(--color-light);
  text-align: center;
}

.newsletter small {
  color: var(--color-light);
  text-align: center;
}

.newsletter-email {
  background-color: transparent;
  justify-self: center;
  height: 2em;
  width: 50%;
  border: 1px solid var(--color-light);
  border-radius: 1em;
  color: var(--color-light);
  text-align: center;
}

.newsletter-email::placeholder{
  color: var(--color-light);
  text-align: center;
}

.newsletter-button {
  height: 2em;
  width: 6em;
  background-color: var(--color-primary);
  color: var(--color-light);
  justify-self: center;
}
/* ---------------------------------------------------------------- */