/* -------------------------- Section HERO ------------------------ */
.heading {
    height: 40vh;
    background: linear-gradient(
      rgba(0, 0, 0, 0.171), 
      rgba(0, 0, 0, 0.171)
    ),url(../img/hero.jpg);
    background-size: cover; 
    background-position: center;
    color: var(--color-light);
    text-align: center;
    padding: 8rem 0;
  }
  
  .heading h1 {
  font-family: var(--cursive-font);
  font-weight: lighter;
  }
  /* ---------------------------------------------------------------- */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .subheading {
        font-size: 2em;
    }
    
    .heading {
        height: 40vh;
        display: grid;
        align-items: center;
    }
    
    .heading h1 {
        font-size: 2.5em;
    }

}
    
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

.container {
    max-width: 700px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 20px;
}

.subheading {
    font-size: 2em;
}

.heading {
    height: 40vh;
    display: grid;
    align-items: center;
}

.heading h1 {
    font-size: 2.5em;
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

.container {
    max-width: 1000px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.subheading {
    font-size: 2em;
}

.heading {
    height: 40vh;
    display: grid;
    align-items: center;
}

.heading h1 {
    font-size: 3em;
}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

.container {
    max-width: 1600px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.subheading {
    font-size: 2em;
}

.heading {
    height: 45vh;
    margin: 0;
    display: grid;
    align-items: center;
}

.heading h1 {
    font-size: 4em;
}

}

/* For full HD display & above */
@media only screen and (min-width: 1920px) {

body a,p{
    font-size: 1.5em;
}

.container {
    max-width: 2200px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.subheading {
    font-size: 2em;
}

.heading {
    height: 45vh;
    display: grid;
    align-items: center;
}

.heading h1 {
    font-size: 6em;
}

}